body {
    font-family: Arial, sans-serif cursive;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    width: 100%;
    background: linear-gradient(to right, rgba(20, 20, 20, 1) 60%, rgba(255, 0, 0, 1) 100%);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.logo img {
    height: 100px;
    animation:rotateIn 3s infinite;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
}

nav ul li a:hover{
    background-color: #e60000;
    transition: 0.5s;
    border-radius: 5px;
}

nav ul li a.reservaciones {
    background-color: #e60000;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a.reservaciones:hover{
    background-color: #000;
    transition: 0.5s;
}

.carousel slide{
    max-height: 60vh;
}

main {
    padding: 20px;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: transform 0.2s;
}

.content:hover {
    transform: scale(1.1);
}

.text {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    text-align: left;
}

.text h1 {
    color: #e60000;
    font-size: 3.5em;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}

.text hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.text p {
    color: #333;
    font-size: 18px;
    text-align: center;
}

.image {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 100%;
    border: 1px solid #ccc;
}

.eventos-especiales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: transform 0.2s;
}

.eventos-especiales:hover {
    transform: scale(1.1);
}


.eventos-texto {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    text-align: left;
}

.eventos-texto h2 {
    color: #e60000;
    font-size: 3.4em;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}

.eventos-texto hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.eventos-texto p {
    color: #333;
    font-size: 18px;
    text-align: center;
}

.eventos-imagenes {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.eventos-imagenes img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 40px 20px;
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-logo {
    flex: 1;
    max-width: 25%;
    text-align: center;
}

.footer-logo img {
    max-width: 100px;
    margin-bottom: 20px;
}

.footer-logo p {
    font-size: 14px;
    line-height: 1.6;
}

.social-icons img {
    margin-top: 10px;
    width: 10%;
}

.social-icons a {
    margin-right: 10px;
}

.footer-links {
    flex: 1;
    max-width: 25%;
    text-align: left;
}

.footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-contact {
    flex: 1;
    max-width: 25%;
    text-align: left;
}

.footer-contact h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-contact p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 5px;
}

.footer-contact img {
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

.footer-bottom a {
    color: #e60000;
    text-decoration: none;
}

.footer-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.footer-buttons .informes-pedidos {
    background-color: #e60000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    animation:bounceOut 5s infinite;
}

.footer-buttons .whatsapp img {
    width: 40px;
    height: 40px;
    animation:bounceOut 5s infinite;
}